{% extends "blog/base.html" %}
{% block content %}
<form method="post" action="/email/send/">{% csrf_token %}
    <div class="username">
        <label class="label">user ID in cuvic.ac.kr</label>
        <span class="span">
            <input name="email" class="inputtext" type="text" maxlength="255" size="35" />
        </span>
    </div>
    <div class="password">
        <label class="label">password</label>
        <span class="span">
            <input name="email" class="inputtext" type="text" maxlength="255" size="35" />
        </span>
    </div>
    <div class="email">
        <label class="label">Email_to :</label>
        <span class="span">
            <input name="email" class="inputtext" type="text" maxlength="255" size="35" />
        </span>
    </div>
    <div class="subject">
        <label class="label">Subject :</span></label>
        <input name="subject" class="inputtext" type="text" maxlength="255" size="45" />
    </div>
    <div class="message">
        <label class="label">Message :</span></label>
        <textarea name="message" class="inputtextarea" rows="11" cols="45"></textarea>
    </div>
    <div class="button">
        <input class="submitform" type="submit" name="submitform" value="send mail" />
    </div>
</form>
{% endblock content %}
